<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1573687427,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2019\/winter-event-guide",
	"domain":"www.seattletimes.com",
	"post_id": 12169135,
	"author":"<%= json.project.author %>",
	"publishdate":"2019-11-17 06:00:00",
	"modifieddate":"2019-11-17 06:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"off",
	"section_tier1":"entertainment",
	"section_tier2":"events",
	"sections_all":"entertainment|life|events|food-drink",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>