@import "seattletimes";
body {
  font-size: 16px;
}

h1 {
  font-size: 60px;
  text-align: center;

  @media @mobile {
    font-size: 30px;
  }
}

header.top {
  max-width: 960px;
  margin: auto;
  padding: 0 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 5px;
  align-items: stretch;
  font-size: 15px;
  font-family: @df-sans;
}

.event {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  padding: 10px;;

  .event-icon {
    width: 20%;
    float: left;
  }
  a {
    font-weight: bold;
    color: #0777b3;
    text-decoration: none;
  }  
}



  .filters {
    font-family: @df-sans;
    padding-bottom: 20px;
  
    .nav-header {
      font-weight: normal;
      color: @df-middle-gray;
      font-size: 16px;
      text-align: center;
      margin: 0;
    }
  
    .search {
      border: 1px solid @df-middle-gray;
      padding: 4px 8px;
      width: 200px;
    }
  
    .advanced {
      .display-flex;
      .justify-content(center);
      .align-items(stretch);
  
      input {
        margin: 0 20px 0 0;
      }
  
      label[for="editors"] {
        margin: 0;
      }
    }
  
    .categories {
      padding: 8px 0;
      margin: 0;
      list-style-type: none;
      display: block;
      text-align: center;
    
      label {
        display: block;

        .filter-icon{
          width: 15%;
        }
      }
    }
  
    input[type=checkbox] {
      display: none;
  
      & + label {
        padding: 2px 8px;
        border: 1px solid @df-light-gray;
        color: @df-middle-gray;
        border-radius: 2px;
        cursor: pointer;
        margin: 2px;
        font-size: 14px;
  
        &::before {
          content: "";
        }
      }
  
      &:checked + label {
        border: 1px solid @df-dark-gray;
        color: @df-dark-gray;
  
        &::before {
          content: "";
   
        }
      }
    }
  
    li {
      display: inline-block;
    }
  }