@import "seattletimes";

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(224, 224, 235, 1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .grid-item:nth-of-type(5n) {
      background-color: rgba(135,171,93,1.00)
  }


  .filters {
    font-family: @df-sans;
    padding-bottom: 20px;
  
    .nav-header {
      font-weight: normal;
      color: @df-middle-gray;
      font-size: 16px;
      text-align: center;
      margin: 0;
    }
  
    .search {
      border: 1px solid @df-middle-gray;
      padding: 4px 8px;
      width: 200px;
    }
  
    .advanced {
      .display-flex;
      .justify-content(center);
      .align-items(stretch);
  
      input {
        margin: 0 20px 0 0;
      }
  
      label[for="editors"] {
        margin: 0;
      }
    }
  
    .categories {
      padding: 8px 0;
      margin: 0;
      list-style-type: none;
      display: block;
      text-align: center;
  
      label {
        display: block;
      }
    }
  
    .meses {
      padding: 8px 0;
      margin: 0;
      list-style-type: none;
      display: block;
      text-align: center;
  
      label {
        display: block;
      }    
    }
  
    input[type=checkbox] {
      display: none;
  
      & + label {
        padding: 2px 8px;
        border: 1px solid @df-light-gray;
        color: @df-middle-gray;
        border-radius: 2px;
        cursor: pointer;
        margin: 2px;
        font-size: 14px;
  
        &::before {
          content: "";
        }
      }
  
      &:checked + label {
        border: 1px solid @df-dark-gray;
        color: @df-dark-gray;
  
        &::before {
          content: "✓";
          margin-right: 6px;
        }
      }
    }
  
    li {
      display: inline-block;
    }
  }