<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE doc SYSTEM "/SysConfig/Rules/ST.dtd">
<?EM-dtdExt /SysConfig/Rules/ST.dtx?>
<?EM-templateName /SysConfig/Times/Offpage/Templates/story.xml?>
<doc xml:lang="en-us">
<story>

<%
	var events = {}

	json.guide.forEach(function(row) {
		var cat = row.category.trim();
		if (!events[cat]) events[cat] = [];
		events[cat].push(row);
	});
%>

<text>
<% for (var cat in events) { %>
	<subhead class="eventcategory"><%= cat %></subhead>
	<% for (var i in events[cat]) { %>
		<% var event = events[cat][i] %>
		<p class="eventname"><%= event.event %></p>
		<p>
			<leadin><%= event.dates %></leadin>
			<%= event.info %>. <%= event.dates %>, <%= event.location %>, <%= event.price === "free event" ? "free" : event.price %> (<% event.phone ? `${event.phone} or ` : `` %><%= event.website_print %>)
		</p>
	<% } %>
<% } %>
</text>

</story>
</doc>