<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE doc SYSTEM "/SysConfig/Rules/ST.dtd">
<?EM-dtdExt /SysConfig/Rules/ST.dtx?>
<?EM-templateName /SysConfig/Times/Offpage/Templates/story.xml?>
<doc xml:lang="en-us">
<story>

<%
	var events = {};
	json.guide.forEach(function(row) {
		var name = row.event.trim(),
			description = row.info.trim(),
			category = row.category.trim(),
			price = row.price.trim(),
			location = row.location.trim(),
			website = row.website_print.trim(),
			dates = row.dates.trim(),
			time = row.time.trim();
	});
%>

<% for (var e in events) { %>
	<p><%= row.name %></p>
	<p><%= row.description %></p>
	<p><%= row.category %></p>
	<p><%= row.price %></p>
	<p><%= row.location %></p>
	<p><%= row.website %></p>
	<p><%= row.dates %></p>
	<p><%= row.time %></p>
<% } %>

</story>
</doc>