<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <%= t.include("partials/_nav.html") %>  
      <header class="top">
        <h1>Winter Guide 2019</h1>
        <figure>
          <img class="main-illo-lines" src="./assets/main-illo.png" alt="Seattle Times Winter Guide 2019 image">
          <img class="main-illo-lights" src="./assets/main-illo-lights.png" alt="Seattle Times Winter Guide 2019 Image">
          <figcaption class="illo-byline">GABRIEL CAMPANARIO / SEATTLE TIMES</figcaption>
        </figure>
        <div class="chatter">
          <div class="bylinePubdate">
            <p class="byline">By Seattle Times staff</p>
            <p class="pubDate"></p>Published Nov. 17, 2019</p>
          </div>
          <p>The holiday season is here — and with it, an abundance of events and activities are coming to the Seattle area. Whether you want to shop for gifts at a holiday market, take the kids to see Santa or hum along to cheery holiday music, there’s no shortage of ways to have festive fun in the coming weeks. Use this guide to help decide where to go and what to do before, after or on the holidays. In case of cancellations or schedule changes, always check times and dates before you go.</p>
        </div>
      </header>
         
      <main > 
        <nav class="filters">
          <h2 class="nav-header">Filter events</h2>    
          <% var cats = [
            { data: "festivals", label: "Festivals" },
            { data: "lights", label: "Lights"},
            { data: "markets", label: "Markets" },
            { data: "parties", label: "Parties" },
            { data: "runs", label: "Runs" },
            { data: "special-events", label: "Special Events" } 
          ] %>
          <ul class="categories">
              <li>
                  <input type="checkbox" class="all-events" data-category="all-events" id="all-events" checked="checked">
                  <label for="all-events"><img class="filter-icon" src="assets/icons/all-events.jpg"><span class="catLabel">All Events</span></label>
              </li>
            <% cats.forEach(function(cat) { %>
              <li>
                <input type="checkbox" class="filter-buttons" data-category="<%= cat.data %>" id="<%= cat.data %>" checked="">
                <label for="<%= cat.data %>"><img class="filter-icon" src="assets/icons/<%= cat.data %>.jpg"><span class="catLabel"><%= cat.label %></span></label>
              </li>
            <% }) %>
          </ul>
          <div class="advanced">
            <input type="text" placeholder="Search events" class="search" id="search">
            <button class="clear-search" type="reset"><img src="assets/x-icon.svg"></button>
            <input type="checkbox" class="editors" id="editors">
          </div>
         </nav>
         <!-- End filters -->   
           
          <div class="event-grid">
          <div class="grid-container">
            <% var cat = {Lights: "lights", Markets: "markets", Festivals: "festivals", "Special Events": "special-events", Parties: "parties", Runs: "runs"} %>
              <% json.guide.forEach(function(event) { %>
                <div  class="event <%= event.category %>" data-category="<%= cat[event.category] %>">
                  <img class="event-icon" src="assets/icons/<%= cat[event.category] %>.jpg" alt="<%= event.category %>" title="<%= event.category %>">
                  <div class="event-header">
                    <p>
                      <a href="<%= event.website_online %>"> <%= event.event %></a> <br>
                      <%= event.dates %>, <%= event.time %>
                    </p>
                  </div>
                  
                  <div class="event-info">
                    <p class="details"><%= event.info %> </p>
                    <p class="eventPrice"><%= event.price.charAt(0).toUpperCase() + event.price.slice(1) %> </p>
                  </div>
               
                  <div >
                    <p class="phone-address"><%= event.phone %><br><%= event.location %></p>
                  </div>
                </div>
              <% }) %>
          </div>
        </div>
          <div class="noResults">Start a new search or select a category</div>
    
          
      </responsive-child>

      <div class="credits">
        Illustrations by Gabriel Campanario
        <div>Design and Development by Miranda Hardy</div>
        <div>Research by Yasmeen Wafai</div>
        <div>Project editing by Emily Eng and Trevor Lenzmeier</div>
      </div>
    </main>

    <%= t.include("partials/_dontMiss.html", grunt.data.json) %>
    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>