<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html", grunt.data.json) %>
  </head>
  <body>
      <responsive-child>
        <%= t.include("partials/_nav.html") %>
        <%= t.include("partials/_ad.html", { type: "banner" }) %>
           
        <header class="top">
          <h1>Winter Guide 2019</h1>
          <h1><img class="header-illo" src="./assets/main-illo.jpg" alt="Seattle Times Winter Guide 2019 image"></h1>
          <p>Planning out your winter? Look no further!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu nulla ipsum. Mauris maximus laoreet arcu, eget tincidunt mi blandit eu. Sed a ligula at sem sagittis efficitur ut id eros. Cras sed nulla est. Maecenas mollis id eros quis facilisis. Nulla tristique porta erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </header>
         
        <main>
            <nav class="filters">
              <div>
                <h2 class="nav-header">Choose categories</h2>    
                <% var cats = [
                  { data: "lights", label: "Lights"},
                  { data: "markets", label: "Markets" },
                  { data: "festivals", label: "Festivals" },
                  { data: "special-events", label: "Special Events" },
                  { data: "parties", label: "Parties" },
                  { data: "runs", label: "Runs" },
                ] %>
                <ul class="categories">
                  <% cats.forEach(function(cat) { %>
                  <li>
                    <input type="checkbox" class="filter-buttons" data-category="<%= cat.data %>" id="<%= cat.data %>" checked="checked">
                    <label for="<%= cat.data %>"><%= cat.label %></label>
                    <!-- Determine best icon position and how to indicate selection without the check?-->
                  </li>
                  <% }) %>
                </ul>
              </div>
              
              <div class="advanced">
                <input type="text" placeholder="Search events" class="search" id="search">
                <input type="checkbox" class="editors" id="editors">
              </div>
             </nav>
            <!-- End filters -->
            <div class="grid-container">
              <% var cat = {Lights: "lights", Markets: "markets", Festivals: "festivals", "Special Events": "special-events", Parties: "parties", Runs: "runs"} %>
                <% json.guide.forEach(function(event) { %>
                  <div  class="event <%= event.category %>" data-category="<%= cat[event.category] %>">
                    <img class="event-icon" src="assets/icons/<%= cat[event.category] %>.jpg" alt="<%= event.category %>" title="<%= event.category %>">
                    <p class="event-header">
                      <a href="<%= event["website (online)"] %>"> <%= event.event %></a> <br>
                      <%= event.dates %>, <%= event.time %>
                    </p>
                    
                    <p class="info"><%= event.info %> </p>
                    <p><%= event.price %> </p>

                    <p>
                      <%= event.phone %> <br>
                      <%= event.location %>
                    </p>
                  </div>
                <% }) %>
            
              </div>
              <div class="noResults">No results found</div>
    
          
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>